.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
    width: 50%;
  }

  &__title {
    margin: 0;
    color: #535bb1;
  }

  &__form {
    padding-top: 20px;
    width: 100%;
    border-radius: 6px;
    margin: auto;
    display: flex;
    flex-direction: column;

    &-label {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 95%;
      color: #4e565c;
      font-size: 14px;
      font-weight: bold;
      padding: 10px 10px 0 10px;
      display: flex;

      &--error {
        color: #cc0033;

        input,
        textarea {
          border: 2px solid #cc0033;
        }

        .modal__form-container {
          border: 2px solid #cc0033;
        }
      }
    }

    &-input {
      width: 70%;
      margin: 10px 0;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #eee;
      transition: 0.3s border-color;
      resize: vertical;

      &:hover {
        border: 1px solid #aaa;
      }

      &:focus,
      &:focus-visible,
      &:focus-within {
        border: 2px solid #535bb1 !important;
        outline: none;
      }
    }

    &-error {
      color: #cc0033;
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
      text-align: left;
      margin-left: 27%;
      padding-bottom: 10px;
    }

    &-submit {
      cursor: pointer;
      appearance: none;
      color: #ffffff;
      padding: 10px;
      border: none;
      background-color: #535bb1;
      color: #fff;
      font-weight: 600;
      border-radius: 10px;
      width: 100%;
      margin: 20px 0;

      &:hover {
        opacity: 0.8;
      }
    }

    &-container {
      display: flex;
      width: 70%;
      overflow: auto;
      margin: 10px 0;
      padding: 0 10px;
      border-radius: 10px;
      border: 1px solid #eee;
      transition: 0.3s border-color;

      &:hover {
        border: 1px solid #aaa;
      }

      /* width */
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        margin-top: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      input {
        width: 100%;
        min-width: 50%;
        border: none;
        border-radius: 5px;
        padding: 14px;
        padding-left: 14px;

        &:focus,
        &:focus-visible,
        &:focus-within {
          border: none;
          outline: none;
        }
      }

      .tag {
        display: flex;
        align-items: center;
        margin: 7px 0;
        margin-right: 10px;
        padding: 0 10px;
        padding-right: 5px;
        border: 1px solid #535bb1;
        border-radius: 5px;
        background-color: #535bb1;
        white-space: nowrap;
        color: white;

        button {
          display: flex;
          padding: 6px;
          border: none;
          background-color: unset;
          cursor: pointer;
          color: white;
        }
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;

    &:focus,
    &:hover {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
