//Components
@import url("./components/avatar/avatar.scss");
@import url("./components/button/button.scss");
@import url("./components/deleteDialog/deleteDialog.scss");
@import url("./components/footer/footer.scss");
@import url("./components/header/header.scss");
@import url("./components/no-content/no-content.scss");

// Features
@import url("./features/quote/quote.scss");
@import url("./features/add-comment/add-comment.scss");
@import url("./features/filter/filter.scss");
@import url("./features/search/search.scss");
@import url("./features/votes/votes.scss");
@import url("./features/add-quote/add-quote.scss");
@import url("./features/comment/comment.scss");

body {
  background-color: #f5f6fa;
}

.App {
  text-align: center;
}

.search {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 25px 0;
    max-width: 500px;
    width: 100%;
  }

  &__input {
    width: 100%;
    border: 1px solid #c3c7c8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
  }

  &__button {
    background-color: #535bb1;
    cursor: pointer;
    border-radius: 5px;
    width: 38px;
    height: 38px;
    background-image: url("../src/assets/icons/icon-search.svg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    border: 0;

    &:hover {
      opacity: 0.8;
    }
  }
}
