//Components
@import url("./components/avatar/avatar.scss");
@import url("./components/button/button.scss");
@import url("./components/dialog/dialog.scss");
@import url("./components/footer/footer.scss");
@import url("./components/header/header.scss");
@import url("./components/no-content/no-content.scss");

// Features
@import url("./features/quote/quote.scss");
@import url("./features/add-comment/add-comment.scss");
@import url("./features/filter/filter.scss");
@import url("./features/search/search.scss");
@import url("./features/votes/votes.scss");

body {
  background-color: #f5f6fa;
}

.App {
  text-align: center;
  padding: 0 1.5em;
}
